<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Conhecimentos e Tecnologias</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="angular" height="60" width="60" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png">
        <h3 class="fw-bold mb-0 fs-4"> Angular</h3>
      </div>
</div>
      <div class="container px-2 py-2" id="icon-grid">
        <h2 class="pb-2 border-bottom">Soft Skills</h2>
        <ul class="nav justify-content-center px-3 py-5 fs-4">
          <li class="me-4 fw-bold">Comunicação | </li>
          <li class="me-4 fw-bold">Solução de Problemas | </li>
          <li class="me-4 fw-bold">Trabalho em equipe | </li>
          <li class="me-4 fw-bold">Resiliência | </li>
          <li class="me-4 fw-bold">Empatia</li>
        </ul>
      </div>
