<div class="container px-4 py-3" id="icon-grid">
    <h2 class="pb-2 border-bottom">Conhecimentos e Tecnologias</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="angular" height="60" width="60" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png">
        <h3 class="fw-bold mb-0 fs-4"> Angular</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="javascript" height="50" width="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png">
        <h3 class="fw-bold mb-0 fs-4"> Javascript</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="typescript" height="50" width="50" src="https://miro.medium.com/max/256/1*tYwniVWMqcytJ1AQ6zud7A.png">
        <h3 class="fw-bold mb-0 fs-4"> Typescript</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="sass" height="50" width="100" src="https://miro.medium.com/max/1400/1*FeiTcE7xAIKhNrRa-2_oiQ.png">
        <h3 class="fw-bold mb-0 fs-4"> Sass</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="bootstrap" height="40" width="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png">
        <h3 class="fw-bold mb-0 fs-4"> Bootstrap</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="python" height="50" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg">
        <h3 class="fw-bold mb-0 fs-4"> Python</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="git" height="50" width="50" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg">
        <h3 class="fw-bold mb-0 fs-4"> Git</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="bootstrap" height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/25/25657.png">
        <h3 class="fw-bold mb-0 fs-4"> GitHub</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="csharp" height="50" width="50" src="https://cdn.worldvectorlogo.com/logos/c--4.svg">
        <h3 class="fw-bold mb-0 fs-4"> C#</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="Net" height="50" width="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/2048px-.NET_Core_Logo.svg.png">
        <h3 class="fw-bold mb-0 fs-4"> .Net</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="bootstrap" height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/4492/4492311.png">
        <h3 class="fw-bold mb-0 fs-4"> SQL</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="bootstrap" height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/5108/5108922.png">
        <h3 class="fw-bold mb-0 fs-4"> Scrum</h3>
      </div>      
    </div>

      <div class="container px-2 py-2" id="icon-grid">
        <h2 class="pb-2 border-bottom">Soft Skills</h2>
        <ul class="nav justify-content-center px-3 py-3 fs-4">
          <li class="me-4 fw-bold">Comunicação | </li>
          <li class="me-4 fw-bold">Solução de Problemas | </li>
          <li class="me-4 fw-bold">Trabalho em equipe | </li>
          <li class="me-4 fw-bold">Resiliência | </li>
          <li class="me-4 fw-bold">Empatia</li>         
        </ul>
      </div>
</div>
