
<div class="mb-3">
    <img src="../assets/perfil.jpg" class="d-block mx-auto mb-4" alt="foto perfil" width="150" height="150">
</div>

<div class="col-lg-6 mx-auto">
    <h1>Sobre mim</h1>
    <p>Me chamo Fabiano, nasci em São Paulo-SP, atualmente moro em São José-SC, sou formado em Adm, estou estudando programação pois pretendo fazer transição de carreira.Sempre gostei da area de tecnologia, mas não tive a oportunidade de trabalhar nessa área.</p>
    <p>Atualmente estou cursando o DEVinHouse onde terei uma formação em FullStack nas tecnologias Angular e .NET Core. Durante o curso terei aulas de metodologias Ágeis como Kanban e Scrum, e vivência e mentorias com equipes de desenvolvimento da empresa parceira.</p>
</div>

