<div class="container px-4 ">
<h2 class="py-2 border-bottom">Experiência</h2>

<div class="col-12 d-flex align-items-start border-bottom pb-4">           
    <img class="me-3" src="../assets/mkj.jpg" width="100" height="100" alt="logo-mkj">
    <div>
        <h3 class="fw-bold mb-0 fs-4">Analista de Planejamento</h3>
        <p class="mb-0 fs-5">MK Makenji</p>
        <p class="mb-0 text-muted">abr de 2020 - mai de 2021</p>
        <p class="mb-0 text-muted">São Paulo, SP</p>             
    </div>                  
</div>
<div class="col-12 d-flex align-items-start border-bottom pb-4">           
    <img class="me-3" src="../assets/polowear.png" width="100" height="100" alt="logo-polowear">
    <div>
        <h3 class="fw-bold mb-0 fs-4">Analista de Planejamento</h3>
        <p class="mb-0 fs-5">Polowear</p>
        <p class="mb-0 text-muted">ago de 2019 - fev de 2020</p>
        <p class="mb-0 text-muted">São Paulo, SP</p>             
    </div>                  
</div>
<div class="col-12 d-flex align-items-start border-bottom pb-4">           
    <img class="me-3" src="../assets/tng.png" width="100" height="100" alt="logo-polowear">
    <div>
        <h3 class="fw-bold mb-0 fs-4">Analista de Planejamento</h3>
        <p class="mb-0 fs-5">TNG Comércio de Roupas</p>
        <p class="mb-0 text-muted">ago de 2013 - jun de 2019</p>
        <p class="mb-0 text-muted">São Paulo, SP</p>             
    </div>                  
</div>
</div>
