<div class="container w-25 mt-5 bg-primary text-dark bg-opacity-25">
  <h2 class="p-3">Registro de Matérias</h2>
  <form class="row g-3">
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label fw-bold">Nome</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label fw-bold">Carga Horária</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label fw-bold">Escola</label>
      <input type="text" class="form-control" id="inputAddress" >
    </div>  
    
    <div class="col-md-12">
      <label for="inputState" class="form-label fw-bold">Professor(a)</label>
      <select id="inputState" class="form-select">
        <option selected></option>
        <option>Otávio</option>
        <option>Vivian</option>
        <option>Leandro</option>
        <option>Cláudia</option>
      </select>
    </div>
    <div>
      <p class="fw-bold">Matéria é opcional ? </p>
      <div class="form-check">
        <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          sim
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          não
        </label>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </div>
  </form>
</div>